/**
* path to your local minecraft server file.
*/
exports.minecraft_server_jar = '/usr/local/games/minecraft/minecraft_server.jar';

/**
* which port to listen on
*/
exports.httpPort = 8001;

// existing roles: admin, player, visitor
/**
* allowed users.
* three different roles exist: admin, player, visitor
* warning: any player who is connected in-game is automatically authenticated as the respective user!
*/
exports.users = [
	{
		"name" : "admin",
		"key": "some passphrase",
		"role": "admin"
	},
	{
		"name": "playa",
		"key": "some other passphrase"
		"role": "player"
	},
	{
		"name": "visit0r",
		"key": "",
		"role": "visitor"
	}
];

/**
* let's save resources, shall we?
* milliseconds until minecraft server stops when no players are connected.
*
* defaults to 60s
* set to -1 to disable
*/
exports.autoshutdown = 60000;
